*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}
body{
    background-image: url(../../images/background.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;

}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 2rem;
}

.app h1{
    font-size: 2.5rem;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 1.5rem;
}

.quiz{
    padding: 2rem 0;
}

.quiz h2{
    font-size: 2rem;
    color: #001e4d;
    font-weight: 600;
}

#question img {
    display: block;
    width: 140px;
    height: auto;
    margin: 1rem auto;
}

.btn{
    background: #FFBB0B;
    color: #001e4d;
    font-weight: 500;
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid #001e4d;
    padding: 0.5rem;
    margin: 0.5rem 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    width: 50%;
    height: auto;
    border: 0;
    padding: 0.75rem;
    margin: 1rem auto 0;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
  }

#back-btn {
    background: #001e4d;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    width: 150px;
    height: auto;
    border: 1px solid #001e4d;
    padding: 0.75rem;
    margin: 1rem auto 0;
    border-radius: 40px;
    cursor: pointer;
    display: block;
    transition: all 0.3s;
}

#back-btn:hover:not([disabled]) {
    background-color: #ffffff;
    color: #181531;
}

.btn-back{
    background: #001e4d;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    width: 150px;
    height: auto;
    border: 1px solid #001e4d;
    padding: 0.75rem;
    margin: 1rem auto 0;
    border-radius: 40px;
    cursor: pointer;
    display: block;
    transition: all 0.3s;
}

.btn-back:hover{
    background-color: #ffffff;
    color: #181531;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}


@media screen and (max-width: 600px) {
    .app {
        width: 95%;
        padding: 1.5rem;
    }

    .app h1 {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }

    .quiz h2 {
        font-size: 1.4rem;
    }

    #question img {
        width: 25%;
        margin: 0.5rem auto;
    }

    .btn {
        font-size: 1.1rem;
    }

    .btn-back{
        font-size: 1.1rem;
        padding: 0.5rem;
        margin: 0.5rem auto 0;
    }
    
    #next-btn {
        width: 15rem;
        font-size: 1.1rem;
        padding: 0.5rem;
        
    }
    #back-btn {
        width: 8rem;
        font-size: 1.1rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .app {
        padding: 1rem;
    }

    .app h1 {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }

    .quiz h2 {
        font-size: 1.2rem;
    }

    #question img {
        width: 20%;
        margin: 0.5rem auto;
    }

    .btn {
        font-size: 1rem;
    }

    .btn-back{
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem auto 0;
    }
    
    #next-btn {
        width: 15rem;
        font-size: 1.1rem;
        padding: 0.5rem;
        
    }
    #back-btn {
        width: 8rem;
        font-size: 1.1rem;
        padding: 0.5rem;
    }
}

@media screen and (max-height: 700px) {
    .app {
        padding: 1rem;
        width: 90%;
    }

    .app h1 {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }

    .quiz h2 {
        font-size: 1.2rem;
    }

    #question img {
        width: 20%;
        margin: 0.5rem auto;
    }

    .btn {
        font-size: 1rem;
    }

    .btn-back{
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem auto 0;
    }

    #next-btn {
        width: 15rem;
        font-size: 1.1rem;
        padding: 7px;
        
    }
    #back-btn {
        width: 8rem;
        font-size: 1rem;
        padding: 7px;
    }
}

@media screen and (max-height: 600px) {
    .app {
        padding: 0.5rem;
        width: 90%;
    }

    .app h1 {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }

    .quiz h2 {
        font-size: 1.1rem;
    }

    #question img {
        width: 15%;
        margin: 0.5rem auto;
    }

    .btn {
        font-size: 1rem;
    }

    .btn-back{
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem auto 0;
    }

    #next-btn {
        width: 15rem;
        font-size: 1.1rem;
        padding: 7px;
        
    }
    #back-btn {
        width: 8rem;
        font-size: 1rem;
        padding: 7px;
    }
}

@media screen and (max-height: 500px) {
    .app {
        padding: 0.25rem;
        width: 90%;
    }

    .app h1 {
        font-size: 1.2rem;
        padding-bottom: 0.25rem;
    }

    .quiz h2 {
        font-size: 1.1rem;
    }

    #question img {
        width: 12%;
        margin: 0.25rem auto;
    }

    .btn {
        font-size: 0.9rem;
    }

    #next-btn {
        width: 15rem;
        font-size: 1.1rem;
        padding: 0.25rem;
        
    }
    #back-btn {
        width: 8rem;
        font-size: 1.1rem;
        padding: 0.25rem;
    }
}
@media screen and (max-height: 454px) {
    .app {
        padding: 0.5rem;
        width: 90%;
    }

    .app h1 {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }

    .quiz h2 {
        font-size: 1.1rem;
    }

    #question img {
        width: 15%;
        margin: 0.5rem auto;
    }

    .btn {
        font-size: 1.1rem;
        width: 50%;
    }

    .btn-back{
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem auto 0;
    }

    #next-btn {
        width: 15rem;
        font-size: 1rem;
        padding: 0.5rem;
        
    }
    #back-btn {
        width: 8rem;
        font-size: 1rem;
        padding: 0.5rem;
    }
}

@media screen and (max-height: 400px) {
    .app {
        padding: 0.5rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .app h1 {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }

    .quiz h2 {
        font-size: 1.1rem;
    }

    #question img {
        width: 15%;
        margin: 0 auto;
    }

    #button-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        
    }

    #answer-buttons{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        
    }

    #answer-buttons .btn{
        height: 3rem;
        margin-top: 0.5rem;
        margin-right: 0.25rem;
    }

    .btn {
        font-size: 0.9rem;
        width: 100%;
    }

    .btn-back{
        font-size: 0.9rem;
        padding: 0.2rem;
        margin: 0.5rem auto 0;
    }

    #next-btn {
        width: 15rem;
        font-size: 0.9rem;
        padding: 0.5rem;
        
    }
    #back-btn {
        width: 8rem;
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

